.row-fluid
  .span4.offset4
    = haml :search_form
.row-fluid
  .span4
    - if @senate
      %section
        %h3 State Senate District
        %dl.dl-horizontal
          %dt District
          %dd= @senate.district
          %dt Representative
          %dd= word_splitter @senate.rep
    - if @house
      %section
        %h3 State House District
        %dl.dl-horizontal
          %dt District
          %dd= @house.district
          %dt Representative
          %dd= word_splitter @house.rep
    - if @magistrate
      %section
        %h3 Magistrate District
        %dl.dl-horizontal
          %dt District:
          %dd= @magistrate.district
          %dt Representative:
          %dd= word_splitter @magistrate.rep
    - if @voting
      %section
        %h3 Voting District
        %p= @voting.name
  .span4
    %section
      %h3
        Council District
        = @council.district if @council
      - if @council
        %p
          %a.name{href: @council.url}
            = word_splitter @council.rep
          %br
          = @council.telephone
          &middot;
          %a{href: "mailto:#{@council.email}"}
            = @council.email
      %h4 Council at-large
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=353"}
          Linda Gorton, Vice Mayor
        %br
        (859) 258-3211
        &middot;
        %a{href: "mailto:lgorton@lexingtonky.gov"}
          lgorton@lexingtonky.gov
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=355"}
          Chuck Ellinger
        %br
        (859) 258-3212
        &middot;
        %a{href: "mailto:cellinge@lexingtonky.gov"}
          cellinge@lexingtonky.gov
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=354"}
          Steve Kay
        %br
        (859) 258-3219
        &middot;
        %a{href: "mailto:skay@lexingtonky.gov"}
          skay@lexingtonky.gov
    - if @neighborhoods
      %section
        %h3 Neighborhood Association
        - if @neighborhoods.empty? || @neighborhoods.first.assoc_name.blank?
          %p none
        - else
          %ul
            - @neighborhoods.each do |assoc|
              %li= assoc.assoc_name
  .span4
    - if @school_board
      %section
        %h3 School Board District
        %dl.dl-horizontal
          %dt District:
          %dd= @school_board.district
          %dt Representative:
          %dd= word_splitter @school_board.rep
    - if @elem_school
      %section
        %h3 Elementary School District
        %p= @elem_school.name
    - if @middle_school
      %section
        %h3 Middle School District
        %p= @middle_school.sname
    - if @high_school
      %section
        %h3 High School District
        %p= @high_school.sname
