<div class="row">
  <div class="span8 offset2 text-center">
    <p class="lead">Here are your districts:</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <table class="table table-bordered table-striped">
      <tr>
        <td>State Senate District</td>
        <td>
          <dl class="dl-horizontal">
            <dt>District</dt>
            <dd><%= @senate[:district] %></dd>
            <dt>Representative</dt>
            <dd><%= @senate[:rep] %></dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>State House District</td>
        <td>
          <dl class="dl-horizontal">
            <dt>District</dt>
            <dd><%= @house[:district] %></dd>
            <dt>Representative</dt>
            <dd><%= @house[:rep] %></dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>Council District</td>
        <td>
          <dl class="dl-horizontal">
            <dt>District:</dt>
            <dd><%= @council[:district] %></dd>
            <dt>Representative:</dt>
            <dd><a href="<%= @council[:url]%>"><%= @council[:rep] %></a></dd>
            <dt>Phone Number:</dt>
            <dd><%= @council[:telephone] %></dd>
            <dt>Email:</dt>
            <dd><%= @council[:email] %></dd>
          </dl>
          <p class="lead text-center">Council at-large</p>
          <dl class="dl-horizontal">
            <dt>Representative:</dt>
            <dd>Linda Gorton, Vice Mayor</dd>
            <dt>Phone Number:</dt>
            <dd>258-3211</dd>
            <dt>Email:</dt>
            <dd>lgorton@lexingtonky.gov</dd>
            <dt></dt>
            <dd></dd>
            <dt>Representative:</dt>
            <dd>Chuck Ellinger</dd>
            <dt>Phone Number:</dt>
            <dd>258-3212</dd>
            <dt>Email:</dt>
            <dd>cellinge@lexingtonky.gov</dd>
            <dt></dt>
            <dd></dd>
            <dt>Representative:</dt>
            <dd>Steve Kay</dd>
            <dt>Phone Number:</dt>
            <dd>258-3219</dd>
            <dt>Email:</dt>
            <dd>skay@lexingtonky.gov</dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>Magistrate District</td>
        <td>
          <dl class="dl-horizontal">
            <dt>District:</dt>
            <dd><%= @magistrate[:district] %></dd>
            <dt>Representative:</dt>
            <dd><%= @magistrate[:rep] %></dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>Voting District</td>
        <td><%= @voting[:name] %></td>
      </tr>
      <tr>
        <td>School Board District</td>
        <td>
          <dl class="dl-horizontal">
            <dt>District:</dt>
            <dd><%= @school_board[:district] %></dd>
            <dt>Representative:</dt>
            <dd><%= @school_board[:rep] %></dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>Elementary School District</td>
        <td>
          <%= @elem_school[:name] %>
        </td>
      </tr>
      <tr>
        <td>Middle School District</td>
          <td><%= @middle_school[:sname] %></td>
      </tr>
      <tr>
        <td>High School District</td>
          <td><%= @high_school[:sname] %></td>
      </tr>
      <tr>
        <td>Neighborhood Association</td>
        <td>
          <% if @neighborhood.empty? || @neighborhood.first.empty? || @neighborhood.first[:assoc_name].empty?  %>
            None
          <% else %>
            <ul>
              <% @neighborhood.each do |assoc| %>
              <li><%= assoc[:assoc_name] %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 text-center">
    <a href="/">&laquo; Search Again</a>
  </div>
</div>

