.row-fluid
  .span4.offset4
    = haml :search_form
.row-fluid
  .span4
    - if @senate
      %section
        %h3 State Senate
        %dl.dl-horizontal
          %dt District
          %dd= @senate.district
          %dt Representative
          %dd= word_splitter @senate.rep
    - if @house
      %section
        %h3 State House
        %dl.dl-horizontal
          %dt District
          %dd= @house.district
          %dt Representative
          %dd= word_splitter @house.rep
    - if @magistrate
      %section
        %h3 Magistrate
        %dl.dl-horizontal
          %dt District
          %dd= @magistrate.district
          %dt Representative
          %dd= word_splitter @magistrate.rep
  .span4
    %section
      %h3 Council
      - if @council
        %p
          %strong District:
          = @council.district
        %p
          %a.name{href: @council.url}
            = word_splitter @council.rep
          %br
          = @council.telephone
          &middot;
          %a{href: "mailto:#{@council.email}"}
            = @council.email
      %h4 Council at-large
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=353"}
          Steve Kay, Vice Mayor
        %br
        (859) 258-3202
        &middot;
        %a{href: "mailto:skay@lexingtonky.gov"}
          skay@lexingtonky.gov
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=355"}
          Kevin Stinnett
        %br
        (859) 258-3225
        &middot;
        %a{href: "mailto:kstinnett@lexingtonky.gov"}
          kstinnett@lexingtonky.gov
      %p
        %a.name{href: "http://www.lexingtonky.gov/index.aspx?page=354"}
          Richard Moloney
        %br
        (859) 258-3828
        &middot;
        %a{href: "mailto:rmoloney@lexingtonky.gov"}
          rmoloney@lexingtonky.gov
    - if @voting
      %section
        %h3 Voting
        %p
          %strong District:
          = @voting.name
        %p
          %a{href: "http://www.fayettecountyclerk.com/web/elections/votingLocationsResults.htm?streetInNumber=#{@address_split[0]}&streetInDir=&streetInName=#{@address_split[1]}&streetInType=#{@address_split[2]}"} Find Polling Location using Fayette County Clerk Website
  .span4
    %section
      %h3 Schools
      %dl.dl-horizontal
        %dt School Board District
        - if @school_board
          %dd= @school_board.district
        %dt Representative
        - if @school_board
          %dd= word_splitter @school_board.rep
        %dt Elementary School
        - if @elem_school
          %dd= @elem_school.name
        %dt Middle School
        - if @middle_school
          %dd= @middle_school.sname
        %dt High School
        - if @high_school
          %dd= @high_school.sname
    - if @neighborhoods
      %section
        %h3 Neighborhood Association
        - if @neighborhoods.empty? || (assoc=@neighborhoods.first).assoc_name.nil? || assoc.assoc_name.empty?
          %p none
        - else
          %ul
            - @neighborhoods.each do |assoc|
              %li= assoc.assoc_name

    - if @hospitals
      %section
        %h3 Nearest Hospitals
        - if @hospitals.empty? || (hospital=@hospitals.first).name.nil? || hospital.name.empty?
          %p none
        - else
          %ol
            - @hospitals.each do |hospital|
              %li
                = hospital.name
